<div style="padding: 10px;color:#222;font-size:16px; line-height:1.6;">
  <strong>Olá, Dr. {{doctor}}</strong><br>
<p>O paciente {{ user }} cancelou uma consulta, leia os detalhes abaixo:</p><br>
<p>
  <strong>Cliente: {{ user}}</strong><br>
  <strong>Data/hora: {{date}} </strong><br><br>
  <small>O horario está novamente disponivel para novas consultas !!</small>

</p>
</div>
